// Colors
$primary-color: #fb8f1d;
$background-color: #fff;
$default-text-color: #000;
$light-link-color: #b8becd;
$current-link-color: #202336;
$heading-text-color: #202336;
$placeholder-text-color: #4a4c53;
$lead-text-color: #7d7987;
$small-text-color: #80918e;
$footer-background-color: #f9f9fb;
$footer-text-color: #848484;

// Text
$heading-font-family: "Playfair Display", sans-serif;
$primary-font-family: "Inter", sans-serif;
$secondary-font-family: "Mulish", sans-serif;
