// Colors
$primary-color: #fb8f1d;
$background-color: #fff;
$default-text-color: #000;
$light-link-color: #b8becd;
$current-link-color: #202336;
$heading-text-color: #202336;
$placeholder-text-color: #4a4c53;
$lead-text-color: #7d7987;
$small-text-color: #80918e;
$footer-background-color: #f9f9fb;
$footer-text-color: #848484;

// Text
$heading-font-family: "Playfair Display", serif;
$primary-font-family: "Inter", sans-serif;
$secondary-font-family: "Mulish", sans-serif;

$max-width: 1100px;

// Set text color based on the background
@function set-text-color($background-color) {
    @if lightness($background-color) > 60 {
        @return #333;
    } @else {
        @return #fff;
    }
}

// Center everything in a flex-box
@mixin flex-center($row: true, $wrap: false) {
    display: flex;
    justify-content: center;
    align-items: center;

    @if $row != true {
        flex-direction: column;
    }
    @if $wrap {
        flex-wrap: wrap;
    }
}

// Transition
@mixin ease-out {
    transition: all 200ms ease-out;
}

// Margin and padding
$space-amounts: (1, 2, 3, 4, 5);

@each $space in $space-amounts {
    // All around margin
    .m-#{$space} {
        margin: #{$space}rem;
    }

    // Vertical margin
    .my-#{$space} {
        margin: #{$space}rem 0;
    }

    // All around padding
    .p-#{$space} {
        padding: #{$space}rem;
    }

    // Vertical padding
    .py-#{$space} {
        padding: #{$space}rem 0;
    }
}

// Media Query Mixins
@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 773px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}

@mixin mediaXl {
    @media screen and (min-width: 1171px) {
        @content;
    }
}
