// Container
.container {
    width: 80%;
    margin: auto;
    max-width: $max-width;
    overflow: hidden;

    @include mediaSm {
        width: 90%;
    }
}

// Text
.xl-heading {
    font-family: $heading-font-family;
    font-size: 4rem;
    font-weight: bold;
    line-height: 80px;
    color: $heading-text-color;

    @include mediaSm {
        font-size: 3rem;
    }
}

.lg-heading {
    font-family: $heading-font-family;
    font-size: 2.25rem;
    font-weight: bold;
    line-height: 1.8em;
    color: $heading-text-color;
}

.sm-heading {
    font-family: $primary-font-family;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.6;
    color: $heading-text-color;
}

.paragraph {
    font-family: $secondary-font-family;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6;
    color: $default-text-color;
}

.lead-text {
    font-family: $primary-font-family;
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 2;
    color: $lead-text-color;
}

.footer-text {
    font-family: $secondary-font-family;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 80px;
    color: $footer-text-color;
}

// Links
a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

%link {
    font-family: $primary-font-family;
    display: inline-block;
    cursor: pointer;
    @include ease-out;

    &:hover {
        text-decoration: underline;
        padding: 0.2rem;
    }
}

.light-link {
    @extend %link;
    color: $light-link-color;
    font-size: 1rem;
    font-weight: 300;
    line-height: 28px;
}

.current-link {
    @extend %link;
    color: $current-link-color;
    font-size: 1rem;
    font-weight: 500;
}

.primary-link {
    @extend %link;
    color: $primary-color;
    font-size: 1.0625rem;
    font-weight: 600;
}

// Buttons
%btn {
    display: inline-block;
    font-family: $secondary-font-family;
    font-weight: 500;
    cursor: pointer;
    padding: 0.25rem 1rem;
    border-radius: 10px;
    border: none;
    @include ease-out;
}

.btn-light {
    @extend %btn;
    background-color: #fff;
    color: $primary-color;
    border: 1px solid $primary-color;
    padding: 0.25rem 1.5rem;

    &:hover {
        $new-color: darken(
            $color: $primary-color,
            $amount: 1,
        );
        background-color: $new-color;
        color: set-text-color($new-color);
        border-color: $new-color;
    }
}

.btn-primary {
    @extend %btn;
    background-color: $primary-color;
    color: set-text-color($primary-color);

    &:hover {
        $new-color: lighten(
            $color: $primary-color,
            $amount: 10,
        );
        background-color: $new-color;
        color: set-text-color($new-color);
    }
}

// Layout
%text-along-img {
    display: flex;
    align-items: center;
    gap: 3rem;

    .section-img {
        width: 50%;
    }

    .section-description * {
        margin-bottom: 1rem;
    }

    &.reversed {
        flex-direction: row-reverse;
        @include mediaMd {
            flex-direction: column;
        }
    }

    @include mediaMd {
        flex-direction: column;

        .section-img {
            width: 60%;
        }
    }

    @include mediaSm {
        .section-description h2 {
            text-align: center;
        }

        .section-img {
            display: none;
        }
    }
}

%section-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
